# Installation du package nécessaire pour lire les fichiers Excel
!pip install openpyxl

In [1]:
# Importation de la bibliothèque pandas pour la manipulation des données
import pandas as pd
from IPython.display import display
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Lecture du fichier Excel en utilisant pandas
# Cette ligne charge l'ensemble du fichier Excel dans une variable
ent_demo = pd.read_excel('C:/Users/benja/OneDrive/Bureau/Sol/MASTER2 2024-2025/BigData/Projet/Demographie-entreprises-2022.xlsx')

# Chargement du fichier Excel dans une variable ExcelFile pour accéder aux différents onglets
# Cela nous permet de spécifier et lire les feuilles spécifiques dans le fichier Excel
xls_ent_demo = pd.ExcelFile('C:/Users/benja/OneDrive/Bureau/Sol/MASTER2 2024-2025/BigData/Projet/Demographie-entreprises-2022.xlsx')

In [3]:
print(xls_ent_demo.sheet_names)

# # Nous avons choisi cet onglet(Sheets) car il contient les données que nous voulons analyser 
#Lecture des données de l'onglet 'COM' dans un DataFrame
df1 = pd.read_excel(xls_ent_demo, sheet_name='COM')
# Lecture des données de l'onglet 'ARM' dans un autres  DataFrame
df2 = pd.read_excel(xls_ent_demo, sheet_name='ARM')

['COM', 'ARM', 'Variables', 'Documentation']

In [4]:
print(df1.head())

print(df2.head())

# Configuration des options d'affichage de pandas pour montrer plus de lignes et de colonnes
# Cela permet de voir une partie plus large des données lors de l'affichage

pd.set_option('display.max_rows', 100)  
pd.set_option('display.max_columns', 50)  
print(df1)

  Chiffres détaillés    -     Démographie des entreprises et des établissements  \
0                                  France - Communes
1  Mise en ligne le 27/06/2024       Géographie a...
2                           Source(s) : Insee, SIDE.
3                                             CODGEO
4                                             CODGEO

               Unnamed: 1 Unnamed: 2   Unnamed: 3  \
0                     NaN        NaN          NaN
1                     NaN        NaN          NaN
2                     NaN        NaN          NaN
3  Libellé commune ou ARM     Région  Département
4                  LIBGEO        REG          DEP

                                      Unnamed: 4  \
0                                            NaN
1                                            NaN
2                                            NaN
3  Unités légales économiquement actives en 2021
4                                       ENNTOT21

                                          Unnamed: 5  \
0                                                NaN
1                                                NaN
2                                                NaN
3  Unités légales de l'industrie économiquement a...
4                                            ENNBE21

                                          Unnamed: 6  \
0                                                NaN
1                                                NaN
2                                                NaN
3  Unités légales de la construction économiqueme...
4                                            ENNFZ21

                                          Unnamed: 7  \
0                                                NaN
1                                                NaN
2                                                NaN
3  Unités légales de commerce, transp, restau, hé...
4                                            ENNGI21

                                          Unnamed: 8  \
0                                                NaN
1                                                NaN
2                                                NaN
3  Unités légales d’information et communication ...
4                                            ENNJZ21

                                          Unnamed: 9  ...  \
0                                                NaN  ...
1                                                NaN  ...
2                                                NaN  ...
3  Unités légales d’activités financières et d'as...  ...
4                                            ENNKZ21  ...

              Unnamed: 152                            Unnamed: 153  \
0                      NaN                                     NaN
1                      NaN                                     NaN
2                      NaN                                     NaN
3  Créations d'ets en 2013  Créations d'ets de l'industrie en 2013
4                 ETCTOT13                                 ETCBE13

                                 Unnamed: 154  \
0                                         NaN
1                                         NaN
2                                         NaN
3  Créations d'ets de la construction en 2013
4                                     ETCFZ13

                                        Unnamed: 155  \
0                                                NaN
1                                                NaN
2                                                NaN
3  Créations d'ets de comm, transp, restau héberg...
4                                            ETCGI13

                                        Unnamed: 156  \
0                                                NaN
1                                                NaN
2                                                NaN
3  Créations d'ets d’information et communication...
4                                            ETCJZ13

                                        Unnamed: 157  \
0                                                NaN
1                                                NaN
2                                                NaN
3  Créations d'ets d’activités financières et d'a...
4                                            ETCKZ13

                                       Unnamed: 158  \
0                                               NaN
1                                               NaN
2                                               NaN
3  Créations d'ets d’activités immobilières en 2013
4                                           ETCLZ13

                                        Unnamed: 159  \
0                                                NaN
1                                                NaN
2                                                NaN
3  Créations d'ets d’activités spécialisées, scie...
4                                            ETCMN13

                                        Unnamed: 160  \
0                                                NaN
1                                                NaN
2                                                NaN
3  Créations d'ets du secteur adm publ, enseign, ...
4                                            ETCOQ13

                                        Unnamed: 161
0                                                NaN
1                                                NaN
2                                                NaN
3  Créations d'ets des autres activités de servic...
4                                            ETCRU13

[5 rows x 162 columns]
  Chiffres détaillés    -     Démographie des entreprises et des établissements  \
0                         Arrondissements municipaux
1  Mise en ligne le 27/06/2024       Géographie a...
2                           Source(s) : Insee, SIDE.
3                                             CODGEO
4                                             CODGEO

               Unnamed: 1 Unnamed: 2   Unnamed: 3  \
0                     NaN        NaN          NaN
1                     NaN        NaN          NaN
2                     NaN        NaN          NaN
3  Libellé commune ou ARM     Région  Département
4                  LIBGEO        REG          DEP

                                      Unnamed: 4  \
0                                            NaN
1                                            NaN
2                                            NaN
3  Unités légales économiquement actives en 2021
4                                       ENNTOT21

                                          Unnamed: 5  \
0                                                NaN
1                                                NaN
2                                                NaN
3  Unités légales de l'industrie économiquement a...
4                                            ENNBE21

                                          Unnamed: 6  \
0                                                NaN
1                                                NaN
2                                                NaN
3  Unités légales de la construction économiqueme...
4                                            ENNFZ21

                                          Unnamed: 7  \
0                                                NaN
1                                                NaN
2                                                NaN
3  Unités légales de commerce, transp, restau, hé...
4                                            ENNGI21

                                          Unnamed: 8  \
0                                                NaN
1                                                NaN
2                                                NaN
3  Unités légales d’information et communication ...
4                                            ENNJZ21

                                          Unnamed: 9  ...  \
0                                                NaN  ...
1                                                NaN  ...
2                                                NaN  ...
3  Unités légales d’activités financières et d'as...  ...
4                                            ENNKZ21  ...

              Unnamed: 152                            Unnamed: 153  \
0                      NaN                                     NaN
1                      NaN                                     NaN
2                      NaN                                     NaN
3  Créations d'ets en 2013  Créations d'ets de l'industrie en 2013
4                 ETCTOT13                                 ETCBE13

                                 Unnamed: 154  \
0                                         NaN
1                                         NaN
2                                         NaN
3  Créations d'ets de la construction en 2013
4                                     ETCFZ13

                                        Unnamed: 155  \
0                                                NaN
1                                                NaN
2                                                NaN
3  Créations d'ets de comm, transp, restau héberg...
4                                            ETCGI13

                                        Unnamed: 156  \
0                                                NaN
1                                                NaN
2                                                NaN
3  Créations d'ets d’information et communication...
4                                            ETCJZ13

                                        Unnamed: 157  \
0                                                NaN
1                                                NaN
2                                                NaN
3  Créations d'ets d’activités financières et d'a...
4                                            ETCKZ13

                                       Unnamed: 158  \
0                                               NaN
1                                               NaN
2                                               NaN
3  Créations d'ets d’activités immobilières en 2013
4                                           ETCLZ13

                                        Unnamed: 159  \
0                                                NaN
1                                                NaN
2                                                NaN
3  Créations d'ets d’activités spécialisées, scie...
4                                            ETCMN13

                                        Unnamed: 160  \
0                                                NaN
1                                                NaN
2                                                NaN
3  Créations d'ets du secteur adm publ, enseign, ...
4                                            ETCOQ13

                                        Unnamed: 161
0                                                NaN
1                                                NaN
2                                                NaN
3  Créations d'ets des autres activités de servic...
4                                            ETCRU13

[5 rows x 162 columns]
      Chiffres détaillés    -     Démographie des entreprises et des établissements  \
0                                      France - Communes
1      Mise en ligne le 27/06/2024       Géographie a...
2                               Source(s) : Insee, SIDE.
3                                                 CODGEO
4                                                 CODGEO
...                                                  ...
34935                                              97613
34936                                              97614
34937                                              97615
34938                                              97616
34939                                              97617

                   Unnamed: 1 Unnamed: 2   Unnamed: 3  \
0                         NaN        NaN          NaN
1                         NaN        NaN          NaN
2                         NaN        NaN          NaN
3      Libellé commune ou ARM     Région  Département
4                      LIBGEO        REG          DEP
...                       ...        ...          ...
34935           M'Tsangamouji         06          976
34936                Ouangani         06          976
34937                Pamandzi         06          976
34938                    Sada         06          976
34939                Tsingoni         06          976

                                          Unnamed: 4  \
0                                                NaN
1                                                NaN
2                                                NaN
3      Unités légales économiquement actives en 2021
4                                           ENNTOT21
...                                              ...
34935                                             22
34936                                             47
34937                                             85
34938                                            101
34939                                             80

                                              Unnamed: 5  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3      Unités légales de l'industrie économiquement a...
4                                                ENNBE21
...                                                  ...
34935                                                  3
34936                                                  4
34937                                                  7
34938                                                  9
34939                                                  7

                                              Unnamed: 6  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3      Unités légales de la construction économiqueme...
4                                                ENNFZ21
...                                                  ...
34935                                                  4
34936                                                 15
34937                                                 12
34938                                                 20
34939                                                 15

                                              Unnamed: 7  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3      Unités légales de commerce, transp, restau, hé...
4                                                ENNGI21
...                                                  ...
34935                                                 10
34936                                                 16
34937                                                 31
34938                                                 37
34939                                                 21

                                              Unnamed: 8  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3      Unités légales d’information et communication ...
4                                                ENNJZ21
...                                                  ...
34935                                                  1
34936                                                  0
34937                                                  3
34938                                                  1
34939                                                  1

                                              Unnamed: 9  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3      Unités légales d’activités financières et d'as...
4                                                ENNKZ21
...                                                  ...
34935                                                  0
34936                                                  0
34937                                                  0
34938                                                  1
34939                                                  0

                                             Unnamed: 10  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3      Unités légales d’activités immobilières économ...
4                                                ENNLZ21
...                                                  ...
34935                                                  0
34936                                                  0
34937                                                  0
34938                                                  0
34939                                                  0

                                             Unnamed: 11  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3      Unités légales d’activités spécialisées, scien...
4                                                ENNMN21
...                                                  ...
34935                                                  0
34936                                                  4
34937                                                 10
34938                                                 14
34939                                                 10

                                             Unnamed: 12  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3      Unités légales du secteur adm publ, enseign, s...
4                                                ENNOQ21
...                                                  ...
34935                                                  3
34936                                                  7
34937                                                 19
34938                                                 16
34939                                                 23

                                             Unnamed: 13  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3      Unités légales des autres activités de service...
4                                                ENNRU21
...                                                  ...
34935                                                  1
34936                                                  1
34937                                                  3
34938                                                  3
34939                                                  3

                     Unnamed: 14                               Unnamed: 15  \
0                            NaN                                       NaN
1                            NaN                                       NaN
2                            NaN                                       NaN
3      Créations d'entr. En 2022  Créations d'entr. de l'industrie en 2022
4                       ENCTOT22                                   ENCBE22
...                          ...                                       ...
34935                         42                                         2
34936                         65                                         2

In [5]:
# Affichage du DataFrame df1 dans un format plus riche avec IPython.display
# Cela fournit une meilleure visualisation des données dans JupyterLab

In [6]:
display(df1)

,Chiffres détaillés - Démographie des entreprises et des établissements,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,...,Unnamed: 137,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161
0,France - Communes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mise en ligne le 27/06/2024 Géographie a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source(s) : Insee, SIDE.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CODGEO,Libellé commune ou ARM,Région,Département,Unités légales économiquement actives en 2021,Unités légales de l'industrie économiquement a...,Unités légales de la construction économiqueme...,"Unités légales de commerce, transp, restau, hé...",Unités légales d’information et communication ...,Unités légales d’activités financières et d'as...,Unités légales d’activités immobilières économ...,"Unités légales d’activités spécialisées, scien...","Unités légales du secteur adm publ, enseign, s...",Unités légales des autres activités de service...,Créations d'entr. En 2022,Créations d'entr. de l'industrie en 2022,Créations d'entr. de la construction en 2022,"Créations d'entr. de comm, transp, restau hébe...",Créations d'entr. d’information et communicati...,Créations d'entr. d’activités financières et d...,Créations d'entr. d’activités immobilières en ...,"Créations d'entr. d’activités spécialisées, sc...","Créations d'entr. du secteur adm publ, enseign...",Créations d'entr. des autres activités de serv...,Créations d'entr. En 2021,...,Créations d'ets d’activités financières et d'a...,Créations d'ets d’activités immobilières en 2015,"Créations d'ets d’activités spécialisées, scie...","Créations d'ets du secteur adm publ, enseign, ...",Créations d'ets des autres activités de servic...,Créations d'ets en 2014,Créations d'ets de l'industrie en 2014,Créations d'ets de la construction en 2014,"Créations d'ets de comm, transp, restau héberg...",Créations d'ets d’information et communication...,Créations d'ets d’activités financières et d'a...,Créations d'ets d’activités immobilières en 2014,"Créations d'ets d’activités spécialisées, scie...","Créations d'ets du secteur adm publ, enseign, ...",Créations d'ets des autres activités de servic...,Créations d'ets en 2013,Créations d'ets de l'industrie en 2013,Créations d'ets de la construction en 2013,"Créations d'ets de comm, transp, restau héberg...",Créations d'ets d’information et communication...,Créations d'ets d’activités financières et d'a...,Créations d'ets d’activités immobilières en 2013,"Créations d'ets d’activités spécialisées, scie...","Créations d'ets du secteur adm publ, enseign, ...",Créations d'ets des autres activités de servic...
4,CODGEO,LIBGEO,REG,DEP,ENNTOT21,ENNBE21,ENNFZ21,ENNGI21,ENNJZ21,ENNKZ21,ENNLZ21,ENNMN21,ENNOQ21,ENNRU21,ENCTOT22,ENCBE22,ENCFZ22,ENCGI22,ENCJZ22,ENCKZ22,ENCLZ22,ENCMN22,ENCOQ22,ENCRU22,ENCTOT21,...,ETCKZ15,ETCLZ15,ETCMN15,ETCOQ15,ETCRU15,ETCTOT14,ETCBE14,ETCFZ14,ETCGI14,ETCJZ14,ETCKZ14,ETCLZ14,ETCMN14,ETCOQ14,ETCRU14,ETCTOT13,ETCBE13,ETCFZ13,ETCGI13,ETCJZ13,ETCKZ13,ETCLZ13,ETCMN13,ETCOQ13,ETCRU13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34935,97613,M'Tsangamouji,06,976,22,3,4,10,1,0,0,0,3,1,42,2,8,18,2,1,0,4,6,1,42,...,0,1,0,0,0,15,1,2,10,1,0,0,0,0,1,18,1,2,12,0,0,0,0,3,0
34936,97614,Ouangani,06,976,47,4,15,16,0,0,0,4,7,1,65,2,13,32,2,0,0,12,2,2,70,...,0,0,4,2,2,34,0,2,29,2,0,0,0,0,1,26,0,1,19,0,0,0,2,4,0
34937,97615,Pamandzi,06,976,85,7,12,31,3,0,0,10,19,3,77,2,6,27,5,0,2,22,7,6,91,...,1,0,4,5,2,45,2,1,28,0,0,0,6,2,6,51,6,2,28,2,0,0,6,5,2
34938,97616,Sada,06,976,101,9,20,37,1,1,0,14,16,3,101,5,12,43,2,2,0,18,12,7,109,...,0,0,8,3,3,50,0,8,27,0,0,0,6,4,5,36,4,5,22,0,0,0,0,3,2
34939,97617,Tsingoni,06,976,80,7,15,21,1,0,0,10,23,3,85,6,19,31,2,0,3,9,6,9,88,...,0,0,3,2,2,47,0,10,26,0,0,0,2,6,3,46,1,5,29,0,1,0,4,5,1

In [7]:
display(df2)

,Chiffres détaillés - Démographie des entreprises et des établissements,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,...,Unnamed: 137,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161
0,Arrondissements municipaux,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mise en ligne le 27/06/2024 Géographie a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source(s) : Insee, SIDE.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CODGEO,Libellé commune ou ARM,Région,Département,Unités légales économiquement actives en 2021,Unités légales de l'industrie économiquement a...,Unités légales de la construction économiqueme...,"Unités légales de commerce, transp, restau, hé...",Unités légales d’information et communication ...,Unités légales d’activités financières et d'as...,Unités légales d’activités immobilières économ...,"Unités légales d’activités spécialisées, scien...","Unités légales du secteur adm publ, enseign, s...",Unités légales des autres activités de service...,Créations d'entr. En 2022,Créations d'entr. de l'industrie en 2022,Créations d'entr. de la construction en 2022,"Créations d'entr. de comm, transp, restau hébe...",Créations d'entr. d’information et communicati...,Créations d'entr. d’activités financières et d...,Créations d'entr. d’activités immobilières en ...,"Créations d'entr. d’activités spécialisées, sc...","Créations d'entr. du secteur adm publ, enseign...",Créations d'entr. des autres activités de serv...,Créations d'entr. En 2021,...,Créations d'ets d’activités financières et d'a...,Créations d'ets d’activités immobilières en 2015,"Créations d'ets d’activités spécialisées, scie...","Créations d'ets du secteur adm publ, enseign, ...",Créations d'ets des autres activités de servic...,Créations d'ets en 2014,Créations d'ets de l'industrie en 2014,Créations d'ets de la construction en 2014,"Créations d'ets de comm, transp, restau héberg...",Créations d'ets d’information et communication...,Créations d'ets d’activités financières et d'a...,Créations d'ets d’activités immobilières en 2014,"Créations d'ets d’activités spécialisées, scie...","Créations d'ets du secteur adm publ, enseign, ...",Créations d'ets des autres activités de servic...,Créations d'ets en 2013,Créations d'ets de l'industrie en 2013,Créations d'ets de la construction en 2013,"Créations d'ets de comm, transp, restau héberg...",Créations d'ets d’information et communication...,Créations d'ets d’activités financières et d'a...,Créations d'ets d’activités immobilières en 2013,"Créations d'ets d’activités spécialisées, scie...","Créations d'ets du secteur adm publ, enseign, ...",Créations d'ets des autres activités de servic...
4,CODGEO,LIBGEO,REG,DEP,ENNTOT21,ENNBE21,ENNFZ21,ENNGI21,ENNJZ21,ENNKZ21,ENNLZ21,ENNMN21,ENNOQ21,ENNRU21,ENCTOT22,ENCBE22,ENCFZ22,ENCGI22,ENCJZ22,ENCKZ22,ENCLZ22,ENCMN22,ENCOQ22,ENCRU22,ENCTOT21,...,ETCKZ15,ETCLZ15,ETCMN15,ETCOQ15,ETCRU15,ETCTOT14,ETCBE14,ETCFZ14,ETCGI14,ETCJZ14,ETCKZ14,ETCLZ14,ETCMN14,ETCOQ14,ETCRU14,ETCTOT13,ETCBE13,ETCFZ13,ETCGI13,ETCJZ13,ETCKZ13,ETCLZ13,ETCMN13,ETCOQ13,ETCRU13
5,13201,Marseille 1er Arrondissement,93,13,7043,450,485,2299,314,201,290,1619,749,636,2544,48,161,1226,258,29,21,500,131,170,1734,...,12,24,213,92,108,941,40,118,367,43,21,17,174,66,95,975,69,119,358,34,18,22,202,74,79
6,13202,Marseille 2e Arrondissement,93,13,3814,296,390,1165,164,195,207,776,343,278,1214,104,83,292,244,27,26,270,63,105,926,...,9,12,88,32,41,614,28,49,318,22,5,19,99,31,43,499,21,58,192,24,10,14,94,40,46
7,13203,Marseille 3e Arrondissement,93,13,2518,104,336,973,106,36,82,285,413,183,1329,21,156,542,170,7,8,269,76,80,1245,...,5,5,48,39,39,412,15,92,166,18,3,6,42,41,29,411,11,100,158,20,1,5,54,22,40
8,13204,Marseille 4e Arrondissement,93,13,3833,159,395,906,149,85,153,710,823,453,1265,31,113,342,146,22,30,312,123,146,1228,...,6,10,101,79,52,539,31,88,133,26,8,9,127,69,48,574,17,99,145,24,9,12,121,87,60
9,13205,Marseille 5e Arrondissement,93,13,3905,183,378,819,176,84,127,802,864,472,1306,35,80,246,198,17,20,344,224,142,1283,...,6,17,116,101,64,527,30,95,109,35,9,12,107,69,61,492,27,66,111,32,8,16,92,89,51
10,13206,Marseille 6e Arrondissement,93,13,8787,272,443,1804,288,433,568,2817,1411,751,1875,56,114,412,121,68,71,566,250,217,1625,...,41,49,285,136,91,956,39,75,234,32,40,32,269,126,109,1034,36,92,246,50,40,49,301,122,98
11,13207,Marseille 7e Arrondissement,93,13,4467,190,250,847,208,218,332,1192,764,466,1052,27,51,173,100,65,52,338,130,116,993,...,24,25,140,71,70,440,20,51,96,24,19,30,110,46,44,443,23,32,98,19,29,27,131,40,44
12,13208,Marseille 8e Arrondissement,93,13,10159,243,811,1859,370,667,861,2207,2429,712,2316,59,210,451,133,110,144,648,333,228,2215,...,63,81,288,204,83,1078,36,87,241,41,52,61,300,195,65,1062,26,103,222,41,50,64,281,195,80
13,13209,Marseille 9e Arrondissement,93,13,5116,168,421,1109,172,184,254,1063,1312,433,1475,44,92,429,123,44,49,368,176,150,1413,...,19,32,147,125,55,582,21,69,157,25,14,30,132,83,51,653,27,81,163,25,19,22,155,99,62
14,13210,Marseille 10e Arrondissement,93,13,3798,138,479,982,109,111,173,556,924,326,1128,44,148,313,52,22,32,249,160,108,1194,...,10,21,94,75,50,500,20,92,125,22,8,17,93,76,47,463,14,83,121,15,9,8,95,65,53
15,13211,Marseille 11e Arrondissement,93,13,4615,207,648,1164,141,264,285,730,804,372,1148,44,123,361,52,39,48,254,112,115,1437,...,20,25,98,58,48,624,20,101,251,26,19,22,96,48,41,646,26,127,215,13,16,19,108,59,63
16,13212,Marseille 12e Arrondissement,93,13,5098,175,505,1000,179,243,294,963,1288,451,1108,35,90,248,54,39,68,279,163,132,1273,...,16,24,117,116,48,541,28,75,117,14,17,29,113,107,41,529,17,71,123,28,16,21,122,73,58
17,13213,Marseille 13e Arrondissement,93,13,5079,217,702,1266,188,148,206,807,1120,425,1618,52,210,481,76,26,39,400,179,155,1647,...,14,21,125,106,61,618,25,110,168,37,15,15,103,79,66,675,33,121,169,27,9,8,128,93,87
18,13214,Marseille 14e Arrondissement,93,13,3619,167,590,1136,78,102,159,422,781,184,1029,33,179,395,33,16,17,207,81,68,1413,...,8,9,61,52,24,541,19,128,192,23,16,6,94,45,18,489,20,106,180,11,11,8,83,47,23
19,13215,Marseille 15e Arrondissement,93,13,4418,207,828,1518,112,97,131,634,663,228,2112,49,358,633,349,18,22,443,109,131,1777,...,12,15,100,48,39,716,24,201,264,21,10,15,96,44,41,688,28,175,250,21,13,11,99,55,36
20,13216,Marseille 16e Arrondissement,93,13,2384,97,282,668,81,131,112,531,353,129,369,13,53,99,20,10,22,97,28,27,488,...,11,13,59,22,16,320,12,64,97,11,16,9,77,20,14,320,11,61,89,14,17,8,83,24,13
21,69381,Lyon 1er Arrondissement,84,69,5703,257,169,1218,441,218,257,1637,788,718,1294,33,46,250,116,34,34,466,156,159,1382,...,23,23,228,100,108,731,31,23,142,70,27,12,206,107,113,700,39,23,123,58,17,19,207,105,109
22,69382,Lyon 2e Arrondissement,84,69,8261,252,337,1729,462,683,845,2360,1042,551,1251,40,40,171,88,76,82,487,163,104,1360,...,62,44,291,110,85,849,26,51,199,48,59,39,272,92,63,807,26,59,204,46,53,38,232,89,60
23,69383,Lyon 3e Arrondissement,84,69,12708,359,723,2302,942,605,774,4106,1955,942,2955,77,156,608,296,91,91,946,380,310,2782,...,67,46,565,273,156,1684,51,115,328,149,73,39,531,264,134,1700,56,136,305,150,73,37,512,283,148
24,69384,Lyon 4e Arrondissement,84,69,4363,251,164,772,266,159,235,1150,825,541,803,35,28,115,70,31,20,298,112,94,830,...,12,16,173,87,71,525,26,38,91,42,21,17,128,96,66,519,26,33,95,27,16,19,154,92,57
25,69385,Lyon 5e Arrondissement,84,69,4146,153,212,911,227,158,227,1055,782,421,940,24,40,198,61,30,22,340,126,99,899,...,17,13,182,104,62,534,27,35,112,34,15,14,154,89,54,501,27,49,106,34,12,8,127,90,48
26,69386,Lyon 6e Arrondissement,84,69,10363,250,977,1531,412,793,1094,2985,1625,696,1742,41,140,232,124,105,140,599,214,147,1674,...,67,70,393,177,81,1123,28,81,206,62,80,70,385,143,68,1064,29,92,204,66,82,59,332,150,50
27,69387,Lyon 7e Arrondissement,84,69,9190,331,639,1987,649,305,584,2325,1517,853,2286,76,111,474,229,45,48,753,332,218,2252,...,41,32,314,195,113,1197,47,95,268,100,33,28,304,194,128,1067,31,75,265,84,28,28,282,145,129
28,69388,Lyon 8e Arrondissement,84,69,5783,181,438,1499,330,156,221,1098,1396,464,1762,38,133,491,141,29,37,474,284,135,1795,...,25,19,189,152,74,801,31,113,208,50,17,16,182,130,54,781,23,104,200,44,19,13,179,130,69
29,69389,Lyon 9e Arrondissement,84,69,6285,184,420,1254,463,412,338,1837,953,424,1348,33,96,291,117,70,37,447,146,111,1443,...,36,26,206,109,61,748,22,81,167,48,51,21,186,110,62,700,21,82,165,48,22,13,190,98,61
30,75101,Paris 1er Arrondissement,11,75,15431,404,690,3077,1518,1416,1192,5667,781,686,3764,94,171,988,507,323,150,1175,183,173,3428,...,147,87,579,92,85,1558,39,56,349,120,171,79,610,68,66,1498,44,69,344,137,117,73,574,71,69
31,75102,Paris 2e Arrondissement,11,75,14778,656,538,2767,1476,1552,991,5258,699,841,2199,70,73,391,275,248,107,759,121,155,2007,...,129,88,593,93,111,1679,120,55,361,154,138,74,615,73,89,1649,128,64,341,164,88,49,626,79,110
32,75103,Paris 3e Arrondissement,11,75,10494,485,195,2405,991,505,593,3284,997,1039,1551,56,17,292,140,87,59,600,144,156,1545,...,56,44,495,117,156,1339,55,50,293,150,35,37,463,99,157,1364,30,55,321,150,54,45,417,132,160
33,75104,Paris 4e Arrondissement,11,75,7771,216,182,1729,707,388,557,2389,847,756,1261,25,23,292,139,58,36,446,121,121,1202,...,50,41,351,94,94,940,23,29,220,83,25,32,354,76,98,867,27,31,183,93,37,28,301,73,94
34,75105,Paris 5e Arrondissement,11,75,10700,228,251,2200,915,491,637,3332,1614,1032,1722,33,24,237,156,61,46,717,283,165,1654,...,50,26,476,189,146,1295,32,42,222,131,41,42,473,180,132,1205,30,34,203,152,49,40,419,154,124
35,75106,Paris 6e Arrondissement,11,75,11341,232,157,2325,863,817,1044,3658,1324,921,1407,28,19,193,92,99,93,585,160,138,1498,...,87,83,471,131,134,1252,34,35,256,125,59,51,469,127,96,1092,24,29,250,90,63,37,397,107,95
36,75107,Paris 7e Arrondissement,11,75,14975,305,296,2200,857,1411,1304,6201,1492,909,2143,28,44,307,168,179,150,952,176,139,2235,...,115,65,635,138,98,1581,31,64,223,114,127,70,713,145,94,1412,26,66,228,122,106,89,554,125,96
37,75108,Paris 8e Arrondissement,11,75,66596,1368,2783,8305,5441,8542,6553,29285,2603,1716,12731,250,607,2596,1260,1461,801,4853,532,371,10800,...,774,563,2574,184,173,5654,102,257,881,400,720,435,2524,191,144,5020,78,236,717,311,636,357,2371,178,136
38,75109,Paris 9e Arrondissement,11,75,23809,1001,798,4037,2227,2136,1507,8523,1878,1702,3321,97,135,475,282,289,165,1412,249,217,3012,...,212,101,1029,193,212,2655,52,95,458,260,228,135,1009,199,219,2320,71,92,400,183,176,82,925,184,207
39,75110,Paris 10e Arrondissement,11,75,20231,743,921,4427,2134,899,793,6133,1850,2331,3640,94,219,802,400,133,53,1319,311,309,3673,...,96,54,1049,238,368,3062,134,267,622,321,90,67,944,247,370,2792,114,273,508,320,79,34,924,234,306
40,75111,Paris 11e Arrondissement,11,75,28666,973,1039,5354,3130,1023,1164,8800,3385,3798,5362,100,216,964,636,184,116,2040,548,558,5254,...,81,62,1317,410,529,3917,117,240,709,496,84,70,1296,379,526,3743,119,229,703,431,73,76,1210,382,520
41,75112,Paris 12e Arrondissement,11,75,20164,618,1044,4149,1719,806,928,5854,2934,2112,5322,111,233,1385,545,147,94,1811,576,420,4147,...,112,74,852,306,359,2696,83,213,525,300,76,63,826,336,274,2492,78,215,447,281,61,51,777,310,272
42,75113,Paris 13e Arrondissement,11,75,18023,481,679,3737,1636,720,670,4873,3082,2145,3916,75,138,776,411,118,50,1444,494,410,3895,...,89,56,846,413,309,2572,79,133,526,281,63,41,815,355,279,2417,69,137,457,257,67,58,745,337,290
43,75114,Paris 14e Arrondissement,11,75,18309,464,799,3577,1616,685,844,5378,2953,1993,3650,59,161,661,372,113,73,1379,466,366,3790,...,60,61,787,380,265,2283,54,127,370,241,57,46,804,322,262,2176,52,121,357,273,66,46,717,309,235
44,75115,Paris 15e Arrondissement,11,75,30365,765,1000,5407,2873,1650,1783,9704,4360,2823,6285,95,133,1010,718,258,172,2654,725,520,5967,...,153,120,1477,535,389,3858,97,174,706,422,129,118,1333,487,392,3652,80,179,709,434,143,97,1172,486,352
45,75116,Paris 16e Arrondissement,11,75,40228,663,1445,5058,2294,4067,4333,16147,4060,2161,6440,110,240,782,408,637,501,2731,632,399,6382,...,383,270,1729,385,286,4285,93,185,698,322,356,261,1782,317,271,3836,75,142,590,302,364,233,1579,299,252
46,75117,Paris 17e Arrondissement,11,75,35771,730,1438,6114,2615,2831,2684,13183,3650,2526,7772,144,325,1543,770,665,333,2854,674,464,7069,...,232,161,1525,356,346,4109,79,284,733,353,231,191,1538,346,354,3778,92,242,670,336,228,148,1394,348,320
47,75118,Paris 18e Arrondissement,11,75,25192,776,1088,6257,2335,671,802,7103,2585,3575,5958,97,222,1462,585,144,92,2249,560,547,6011,...,70,56,1297,383,603,3872,103,263,825,451,68,53,1201,332,576,3672,128,295,759,430,65,34,1131,315,515
48,75119,Paris 19e Arrondissement,11,75,20312,539,1029,4877,1867,483,593,5748,2519,2657,5451,81,212,1497,489,117,58,1994,541,462,5557,...,50,42,954,332,397,2985,82,250,702,316,56,44,864,311,360,2918,93,277,619,292,40,40,884,310,363
49,75120,Paris 20e Arrondissement,11,75,21960,619,1461,4929,1974,393,535,6082,2801,3166,5030,129,335,1142,452,72,42,1820,469,569,4864,...,43,40,1073,382,449,3503,95,402,715,341,49,39,1083,341,438,3258,117,385,609,345,40,34,965,341,422

In [8]:
# Vérifier d'abord si les colonnes de df1 et df2 sont identiques

# Étape 1 : Comparer les noms de colonnes
colonnes_identiques = df1.columns.equals(df2.columns)
# Si les colonnes sont identiques, continuer à fusionner, sinon gérer les différences
if colonnes_identiques:
    print("Les colonnes de df1 et df2 sont identiques.")
else:
    print("Attention : les colonnes de df1 et df2 ne sont pas identiques.")

Les colonnes de df1 et df2 sont identiques.

In [9]:
# Étape 2 : Comparer les types de colonnes (assurons-nous que chaque colonne a le même type de données)
types_identiques = (df1.dtypes == df2.dtypes).all()
if types_identiques:
    print("Les types de colonnes sont également identiques.")
else:
    print("Attention : certains types de colonnes sont différents entre df1 et df2.")

Les types de colonnes sont également identiques.

In [10]:
 # Fusionner df1 et df2 (df_combined)
ent_demo= pd.concat([df1, df2], ignore_index=True)

In [11]:
# Nettoyage des colonnes pour ent_demo
# Étape 1 : Supprimer les lignes inutiles (0, 1, 2) qui sont inutiles
ent_demo = ent_demo.drop([0, 1, 2])

# Étape 2 : Utiliser la ligne 3 comme noms de colonnes
ent_demo.columns = ent_demo.iloc[0]  # Prendre les noms de colonnes à partir de la ligne 3
ent_demo = ent_demo.drop(3)           # Supprimer la ligne 3 car elle est désormais utilisée pour les noms de colonnes

In [12]:

#Créez un nouvel index consécutif pour le DataFrame, en supprimant l'ancien index
# Réinitialiser l'index pour un index consécutif
ent_demo = ent_demo.reset_index(drop=True)

# Nettoyer les noms de colonnes en supprimant les espaces inutiles
ent_demo.columns = ent_demo.columns.str.strip()

In [13]:
# Afficher le dataframe nettoyé et fusionné
display(ent_demo)

3,CODGEO,Libellé commune ou ARM,Région,Département,Unités légales économiquement actives en 2021,Unités légales de l'industrie économiquement actives en 2021,Unités légales de la construction économiquement actives en 2021,"Unités légales de commerce, transp, restau, héberg. économiquement actives en 2021",Unités légales d’information et communication économiquement actives en 2021,Unités légales d’activités financières et d'assurance économiquement actives en 2021,Unités légales d’activités immobilières économiquement actives en 2021,"Unités légales d’activités spécialisées, scient et techn, et activités de serv adm et de soutien économiquement actives en 2021","Unités légales du secteur adm publ, enseign, santé et action sociale économiquement actives en 2021",Unités légales des autres activités de services économiquement actives en 2021,Créations d'entr. En 2022,Créations d'entr. de l'industrie en 2022,Créations d'entr. de la construction en 2022,"Créations d'entr. de comm, transp, restau héberg. en 2022",Créations d'entr. d’information et communication en 2022,Créations d'entr. d’activités financières et d'assurance en 2022,Créations d'entr. d’activités immobilières en 2022,"Créations d'entr. d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022","Créations d'entr. du secteur adm publ, enseign, santé et action sociale en 2022",Créations d'entr. des autres activités de services en 2022,Créations d'entr. En 2021,...,Créations d'ets d’activités financières et d'assurance en 2015,Créations d'ets d’activités immobilières en 2015,"Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2015","Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2015",Créations d'ets des autres activités de services en 2015,Créations d'ets en 2014,Créations d'ets de l'industrie en 2014,Créations d'ets de la construction en 2014,"Créations d'ets de comm, transp, restau héberg. en 2014",Créations d'ets d’information et communication en 2014,Créations d'ets d’activités financières et d'assurance en 2014,Créations d'ets d’activités immobilières en 2014,"Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2014","Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2014",Créations d'ets des autres activités de services en 2014,Créations d'ets en 2013,Créations d'ets de l'industrie en 2013,Créations d'ets de la construction en 2013,"Créations d'ets de comm, transp, restau héberg. en 2013",Créations d'ets d’information et communication en 2013,Créations d'ets d’activités financières et d'assurance en 2013,Créations d'ets d’activités immobilières en 2013,"Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2013","Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2013",Créations d'ets des autres activités de services en 2013
0,CODGEO,LIBGEO,REG,DEP,ENNTOT21,ENNBE21,ENNFZ21,ENNGI21,ENNJZ21,ENNKZ21,ENNLZ21,ENNMN21,ENNOQ21,ENNRU21,ENCTOT22,ENCBE22,ENCFZ22,ENCGI22,ENCJZ22,ENCKZ22,ENCLZ22,ENCMN22,ENCOQ22,ENCRU22,ENCTOT21,...,ETCKZ15,ETCLZ15,ETCMN15,ETCOQ15,ETCRU15,ETCTOT14,ETCBE14,ETCFZ14,ETCGI14,ETCJZ14,ETCKZ14,ETCLZ14,ETCMN14,ETCOQ14,ETCRU14,ETCTOT13,ETCBE13,ETCFZ13,ETCGI13,ETCJZ13,ETCKZ13,ETCLZ13,ETCMN13,ETCOQ13,ETCRU13
1,01001,L'Abergement-Clémenciat,84,01,45,3,7,13,0,2,4,9,3,4,17,3,2,3,0,2,0,6,0,1,7,...,0,0,0,1,0,5,0,0,1,0,0,1,0,1,2,3,0,0,0,0,1,0,1,0,1
2,01002,L'Abergement-de-Varey,84,01,20,3,3,4,1,0,0,2,3,4,3,0,0,0,1,0,0,1,0,1,5,...,0,0,0,0,0,3,1,0,0,0,0,0,2,0,0,3,0,0,3,0,0,0,0,0,0
3,01004,Ambérieu-en-Bugey,84,01,1072,50,140,266,20,71,68,138,226,93,218,9,24,65,11,10,5,49,20,25,204,...,9,3,13,31,15,143,5,29,35,6,9,4,13,28,14,115,4,18,35,1,4,3,12,23,15
4,01005,Ambérieux-en-Dombes,84,01,147,11,32,24,4,4,11,19,19,23,32,2,2,6,2,1,4,12,1,2,33,...,0,2,0,0,1,10,3,0,1,1,0,1,2,1,1,7,0,2,4,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34981,75116,Paris 16e Arrondissement,11,75,40228,663,1445,5058,2294,4067,4333,16147,4060,2161,6440,110,240,782,408,637,501,2731,632,399,6382,...,383,270,1729,385,286,4285,93,185,698,322,356,261,1782,317,271,3836,75,142,590,302,364,233,1579,299,252
34982,75117,Paris 17e Arrondissement,11,75,35771,730,1438,6114,2615,2831,2684,13183,3650,2526,7772,144,325,1543,770,665,333,2854,674,464,7069,...,232,161,1525,356,346,4109,79,284,733,353,231,191,1538,346,354,3778,92,242,670,336,228,148,1394,348,320
34983,75118,Paris 18e Arrondissement,11,75,25192,776,1088,6257,2335,671,802,7103,2585,3575,5958,97,222,1462,585,144,92,2249,560,547,6011,...,70,56,1297,383,603,3872,103,263,825,451,68,53,1201,332,576,3672,128,295,759,430,65,34,1131,315,515
34984,75119,Paris 19e Arrondissement,11,75,20312,539,1029,4877,1867,483,593,5748,2519,2657,5451,81,212,1497,489,117,58,1994,541,462,5557,...,50,42,954,332,397,2985,82,250,702,316,56,44,864,311,360,2918,93,277,619,292,40,40,884,310,363
34985,75120,Paris 20e Arrondissement,11,75,21960,619,1461,4929,1974,393,535,6082,2801,3166,5030,129,335,1142,452,72,42,1820,469,569,4864,...,43,40,1073,382,449,3503,95,402,715,341,49,39,1083,341,438,3258,117,385,609,345,40,34,965,341,422

In [14]:
print(ent_demo.columns)

Index(['CODGEO', 'Libellé commune ou ARM', 'Région', 'Département',
       'Unités légales économiquement actives en 2021',
       'Unités légales de l'industrie économiquement actives en 2021',
       'Unités légales de la construction économiquement actives en 2021',
       'Unités légales de commerce, transp, restau, héberg. économiquement actives en 2021',
       'Unités légales d’information et communication économiquement actives en 2021',
       'Unités légales d’activités financières et d'assurance économiquement actives en 2021',
       ...
       'Créations d'ets en 2013', 'Créations d'ets de l'industrie en 2013',
       'Créations d'ets de la construction en 2013',
       'Créations d'ets de comm, transp, restau héberg. en 2013',
       'Créations d'ets d’information et communication en 2013',
       'Créations d'ets d’activités financières et d'assurance en 2013',
       'Créations d'ets d’activités immobilières en 2013',
       'Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2013',
       'Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2013',
       'Créations d'ets des autres activités de services en 2013'],
      dtype='object', name=3, length=162)

In [15]:
columns_list = ent_demo.columns.tolist()
print(columns_list)

['CODGEO', 'Libellé commune ou ARM', 'Région', 'Département', 'Unités légales économiquement actives en 2021', "Unités légales de l'industrie économiquement actives en 2021", 'Unités légales de la construction économiquement actives en 2021', 'Unités légales de commerce, transp, restau, héberg. économiquement actives en 2021', 'Unités légales d’information et communication économiquement actives en 2021', "Unités légales d’activités financières et d'assurance économiquement actives en 2021", 'Unités légales d’activités immobilières économiquement actives en 2021', 'Unités légales d’activités spécialisées, scient et techn, et activités de serv adm et de soutien économiquement actives en 2021', 'Unités légales du secteur adm publ, enseign, santé et action sociale économiquement actives en 2021', 'Unités légales des autres activités de services économiquement actives en 2021', "Créations d'entr. En 2022", "Créations d'entr. de l'industrie en 2022", "Créations d'entr. de la construction en 2022", "Créations d'entr. de comm, transp, restau héberg. en 2022", "Créations d'entr. d’information et communication en 2022", "Créations d'entr. d’activités financières et d'assurance en 2022", "Créations d'entr. d’activités immobilières en 2022", "Créations d'entr. d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022", "Créations d'entr. du secteur adm publ, enseign, santé et action sociale en 2022", "Créations d'entr. des autres activités de services en 2022", "Créations d'entr. En 2021", "Créations d'entr. En 2020", "Créations d'entr. en 2019", "Créations d'entr. en 2018", "Créations d'entr. en 2017", "Créations d'entr. en 2016", "Créations d'entr. en 2015", "Créations d'entr. en 2014", "Créations d'entr. en 2013", "Créations d'entr. ind. en 2022", "Créat. d'entr. ind. de l'industrie en 2022", "Créat. d'entr. ind. de la construction en 2022", "Créat. d'entr. ind. de comm, transp, restau héberg. en 2022", "Créat. d'entr. ind. d’information et communication en 2022", "Créat. d'entr. ind. d’activités financières et d'assurance en 2022", "Créat. d'entr. ind. d’activités immobilières en 2022", "Créat. d'entr. ind. d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022", "Créat. d'entr. ind. du secteur adm publ, enseign, santé et action sociale en 2022", "Créat. d'entr. ind. des autres activités de services en 2022", "Créations d'entr. ind. En 2021", "Créations d'entr. ind. En 2020", "Créations d'entr. ind. en 2019", "Créations d'entr. ind. en 2018", "Créations d'entr. ind. en 2017", "Créations d'entr. ind. en 2016", "Créations d'entr. ind. en 2015", "Créations d'entr. ind. en 2014", "Créations d'entr. ind. en 2013", 'Établissements économiquement actifs en 2021', "Ets de l'industrie économiquement actifs en 2021", 'Ets de la construction économiquement actifs en 2021', 'Ets de comm, transp, restau héberg. économiquement actifs en 2021', 'Ets d’information et communication économiquement actifs en 2021', "Ets d’activités financières et d'assurance économiquement actifs en 2021", 'Ets d’activités immobilières économiquement actifs en 2021', 'Ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien économiquement actifs en 2021', 'Ets du secteur adm publ, enseign, santé et action sociale économiquement actifs en 2021', 'Ets des autres activités de services économiquement actifs en 2021', "Créations d'ets en 2022", "Créations d'ets de l'industrie en 2022", "Créations d'ets de la construction en 2022", "Créations d'ets de comm, transp, restau héberg. en 2022", "Créations d'ets d’information et communication en 2022", "Créations d'ets d’activités financières et d'assurance en 2022", "Créations d'ets d’activités immobilières en 2022", "Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022", "Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2022", "Créations d'ets des autres activités de services en 2022", "Créations d'ets en 2021", "Créations d'ets de l'industrie en 2021", "Créations d'ets de la construction en 2021", "Créations d'ets de comm, transp, restau héberg. en 2021", "Créations d'ets d’information et communication en 2021", "Créations d'ets d’activités financières et d'assurance en 2021", "Créations d'ets d’activités immobilières en 2021", "Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2021", "Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2021", "Créations d'ets des autres activités de services en 2021", "Créations d'ets en 2020", "Créations d'ets de l'industrie en 2020", "Créations d'ets de la construction en 2020", "Créations d'ets de comm, transp, restau héberg. en 2020", "Créations d'ets d’information et communication en 2020", "Créations d'ets d’activités financières et d'assurance en 2020", "Créations d'ets d’activités immobilières en 2020", "Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2020", "Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2020", "Créations d'ets des autres activités de services en 2020", "Créations d'ets en 2019", "Créations d'ets de l'industrie en 2019", "Créations d'ets de la construction en 2019", "Créations d'ets de comm, transp, restau héberg. en 2019", "Créations d'ets d’information et communication en 2019", "Créations d'ets d’activités financières et d'assurance en 2019", "Créations d'ets d’activités immobilières en 2019", "Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2019", "Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2019", "Créations d'ets des autres activités de services en 2019", "Créations d'ets en 2018", "Créations d'ets de l'industrie en 2018", "Créations d'ets de la construction en 2018", "Créations d'ets de comm, transp, restau héberg. en 2018", "Créations d'ets d’information et communication en 2018", "Créations d'ets d’activités financières et d'assurance en 2018", "Créations d'ets d’activités immobilières en 2018", "Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2018", "Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2018", "Créations d'ets des autres activités de services en 2018", "Créations d'ets en 2017", "Créations d'ets de l'industrie en 2017", "Créations d'ets de la construction en 2017", "Créations d'ets de comm, transp, restau héberg. en 2017", "Créations d'ets d’information et communication en 2017", "Créations d'ets d’activités financières et d'assurance en 2017", "Créations d'ets d’activités immobilières en 2017", "Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2017", "Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2017", "Créations d'ets des autres activités de services en 2017", "Créations d'ets en 2016", "Créations d'ets de l'industrie en 2016", "Créations d'ets de la construction en 2016", "Créations d'ets de comm, transp, restau héberg. en 2016", "Créations d'ets d’information et communication en 2016", "Créations d'ets d’activités financières et d'assurance en 2016", "Créations d'ets d’activités immobilières en 2016", "Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2016", "Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2016", "Créations d'ets des autres activités de services en 2016", "Créations d'ets en 2015", "Créations d'ets de l'industrie en 2015", "Créations d'ets de la construction en 2015", "Créations d'ets de comm, transp, restau héberg. en 2015", "Créations d'ets d’information et communication en 2015", "Créations d'ets d’activités financières et d'assurance en 2015", "Créations d'ets d’activités immobilières en 2015", "Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2015", "Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2015", "Créations d'ets des autres activités de services en 2015", "Créations d'ets en 2014", "Créations d'ets de l'industrie en 2014", "Créations d'ets de la construction en 2014", "Créations d'ets de comm, transp, restau héberg. en 2014", "Créations d'ets d’information et communication en 2014", "Créations d'ets d’activités financières et d'assurance en 2014", "Créations d'ets d’activités immobilières en 2014", "Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2014", "Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2014", "Créations d'ets des autres activités de services en 2014", "Créations d'ets en 2013", "Créations d'ets de l'industrie en 2013", "Créations d'ets de la construction en 2013", "Créations d'ets de comm, transp, restau héberg. en 2013", "Créations d'ets d’information et communication en 2013", "Créations d'ets d’activités financières et d'assurance en 2013", "Créations d'ets d’activités immobilières en 2013", "Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2013", "Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2013", "Créations d'ets des autres activités de services en 2013"]

In [16]:
num_columns = len(ent_demo.columns)

In [17]:
print(num_columns)

162

### Handling Missing Values

In [18]:
na_count = ent_demo.isna().sum().sum()

print(na_count)

1125

In [19]:


# Calculate the number of missing values in each column
missing_data = ent_demo.isnull().sum()

# Create a DataFrame to display columns with their missing values
missing_columns = missing_data[missing_data > 0].reset_index()

In [20]:
print(missing_data)

3
CODGEO                                                                                                        0
Libellé commune ou ARM                                                                                        3
Région                                                                                                        3
Département                                                                                                   3
Unités légales économiquement actives en 2021                                                                 6
                                                                                                             ..
Créations d'ets d’activités financières et d'assurance en 2013                                               10
Créations d'ets d’activités immobilières en 2013                                                             10
Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2013    10
Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2013                                10
Créations d'ets des autres activités de services en 2013                                                     10
Length: 162, dtype: int64

In [21]:
# Replace all missing values with zero
ent_demo.fillna(0, inplace=True)

In [22]:
print(missing_data)

3
CODGEO                                                                                                        0
Libellé commune ou ARM                                                                                        3
Région                                                                                                        3
Département                                                                                                   3
Unités légales économiquement actives en 2021                                                                 6
                                                                                                             ..
Créations d'ets d’activités financières et d'assurance en 2013                                               10
Créations d'ets d’activités immobilières en 2013                                                             10
Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2013    10
Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2013                                10
Créations d'ets des autres activités de services en 2013                                                     10
Length: 162, dtype: int64

In [23]:
# Check for missing values
missing_data = ent_demo.isnull().sum()

# Print columns with remaining missing values (if any)
print(missing_data[missing_data > 0])  # Should return an empty Series if all missing values were replaced

Series([], dtype: int64)

In [24]:
# Group by Region and Department
grouped_ent_demo = ent_demo.groupby(['Région', 'Département'])

# Example: Get specific sectors, e.g., Industry
industry_columns = [col for col in ent_demo.columns if 'industrie' in col]
df_industry = ent_demo[industry_columns + ['Région', 'Département']]

In [25]:
# Check the size of each group
group_sizes = grouped_ent_demo.size()
print(group_sizes)

Région  Département
0       0                3
01      971             32
02      972             34
03      973             22
04      974             24
                      ...
93      84             151
94      2A             124
        2B             236
REG     DEP              2
Région  Département      1
Length: 104, dtype: int64

In [26]:
group_sizes.head(20)

Région  Département
0       0                3
01      971             32
02      972             34
03      973             22
04      974             24
06      976             17
11      75              21
        77             507
        78             259
        91             194
        92              36
        93              40
        94              47
        95             183
24      18             286
        28             365
        36             241
        37             272
        41             267
        45             325
dtype: int64

In [27]:
na_count = ent_demo.isna().sum().sum()

print(na_count) ### on a plus de NA

0

In [28]:
# Filtrer les colonnes contenant '2022' dans leur nom
cols_2022 = [col for col in ent_demo.columns if '2022' in col or 'Libellé' in col or 'Département' in col or 'Région' in col]

# Créer un nouveau DataFrame avec seulement ces colonnes
ent_demo_2022 = ent_demo[cols_2022]

# Afficher les colonnes sélectionnées
print(ent_demo_2022.columns)

Index(['Libellé commune ou ARM', 'Région', 'Département',
       'Créations d'entr. En 2022', 'Créations d'entr. de l'industrie en 2022',
       'Créations d'entr. de la construction en 2022',
       'Créations d'entr. de comm, transp, restau héberg. en 2022',
       'Créations d'entr. d’information et communication en 2022',
       'Créations d'entr. d’activités financières et d'assurance en 2022',
       'Créations d'entr. d’activités immobilières en 2022',
       'Créations d'entr. d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022',
       'Créations d'entr. du secteur adm publ, enseign, santé et action sociale en 2022',
       'Créations d'entr. des autres activités de services en 2022',
       'Créations d'entr. ind. en 2022',
       'Créat. d'entr. ind. de l'industrie en 2022',
       'Créat. d'entr. ind. de la construction en 2022',
       'Créat. d'entr. ind. de comm, transp, restau héberg. en 2022',
       'Créat. d'entr. ind. d’information et communication en 2022',
       'Créat. d'entr. ind. d’activités financières et d'assurance en 2022',
       'Créat. d'entr. ind. d’activités immobilières en 2022',
       'Créat. d'entr. ind. d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022',
       'Créat. d'entr. ind. du secteur adm publ, enseign, santé et action sociale en 2022',
       'Créat. d'entr. ind. des autres activités de services en 2022',
       'Créations d'ets en 2022', 'Créations d'ets de l'industrie en 2022',
       'Créations d'ets de la construction en 2022',
       'Créations d'ets de comm, transp, restau héberg. en 2022',
       'Créations d'ets d’information et communication en 2022',
       'Créations d'ets d’activités financières et d'assurance en 2022',
       'Créations d'ets d’activités immobilières en 2022',
       'Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022',
       'Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2022',
       'Créations d'ets des autres activités de services en 2022'],
      dtype='object', name=3)

In [29]:
display(ent_demo_2022)

3,Libellé commune ou ARM,Région,Département,Créations d'entr. En 2022,Créations d'entr. de l'industrie en 2022,Créations d'entr. de la construction en 2022,"Créations d'entr. de comm, transp, restau héberg. en 2022",Créations d'entr. d’information et communication en 2022,Créations d'entr. d’activités financières et d'assurance en 2022,Créations d'entr. d’activités immobilières en 2022,"Créations d'entr. d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022","Créations d'entr. du secteur adm publ, enseign, santé et action sociale en 2022",Créations d'entr. des autres activités de services en 2022,Créations d'entr. ind. en 2022,Créat. d'entr. ind. de l'industrie en 2022,Créat. d'entr. ind. de la construction en 2022,"Créat. d'entr. ind. de comm, transp, restau héberg. en 2022",Créat. d'entr. ind. d’information et communication en 2022,Créat. d'entr. ind. d’activités financières et d'assurance en 2022,Créat. d'entr. ind. d’activités immobilières en 2022,"Créat. d'entr. ind. d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022","Créat. d'entr. ind. du secteur adm publ, enseign, santé et action sociale en 2022",Créat. d'entr. ind. des autres activités de services en 2022,Créations d'ets en 2022,Créations d'ets de l'industrie en 2022,Créations d'ets de la construction en 2022,"Créations d'ets de comm, transp, restau héberg. en 2022",Créations d'ets d’information et communication en 2022,Créations d'ets d’activités financières et d'assurance en 2022,Créations d'ets d’activités immobilières en 2022,"Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022","Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2022",Créations d'ets des autres activités de services en 2022
0,LIBGEO,REG,DEP,ENCTOT22,ENCBE22,ENCFZ22,ENCGI22,ENCJZ22,ENCKZ22,ENCLZ22,ENCMN22,ENCOQ22,ENCRU22,ENCITOT22,ENCIBE22,ENCIFZ22,ENCIGI22,ENCIJZ22,ENCIKZ22,ENCILZ22,ENCIMN22,ENCIOQ22,ENCIRU22,ETCTOT22,ETCBE22,ETCFZ22,ETCGI22,ETCJZ22,ETCKZ22,ETCLZ22,ETCMN22,ETCOQ22,ETCRU22
1,L'Abergement-Clémenciat,84,01,17,3,2,3,0,2,0,6,0,1,9,3,1,1,0,0,0,3,0,1,19,3,2,3,0,2,0,7,1,1
2,L'Abergement-de-Varey,84,01,3,0,0,0,1,0,0,1,0,1,3,0,0,0,1,0,0,1,0,1,4,0,0,0,1,0,0,2,0,1
3,Ambérieu-en-Bugey,84,01,218,9,24,65,11,10,5,49,20,25,172,8,18,51,11,0,3,41,18,22,227,10,24,69,12,11,6,51,21,23
4,Ambérieux-en-Dombes,84,01,32,2,2,6,2,1,4,12,1,2,30,2,1,6,2,1,3,12,1,2,38,6,3,6,3,1,4,12,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34981,Paris 16e Arrondissement,11,75,6440,110,240,782,408,637,501,2731,632,399,3220,46,22,372,213,46,28,1687,513,293,6956,127,269,871,432,725,552,2849,702,429
34982,Paris 17e Arrondissement,11,75,7772,144,325,1543,770,665,333,2854,674,464,3975,65,47,763,384,47,22,1763,524,360,8374,152,342,1673,788,823,365,2966,747,518
34983,Paris 18e Arrondissement,11,75,5958,97,222,1462,585,144,92,2249,560,547,4426,77,65,985,427,16,9,1853,512,482,6309,111,223,1568,597,154,102,2307,585,662
34984,Paris 19e Arrondissement,11,75,5451,81,212,1497,489,117,58,1994,541,462,4129,57,93,1074,359,16,14,1622,481,413,5677,88,220,1543,513,122,68,2027,569,527
34985,Paris 20e Arrondissement,11,75,5030,129,335,1142,452,72,42,1820,469,569,3728,93,85,759,330,13,10,1493,435,510,5295,136,339,1199,464,81,49,1870,500,657

In [30]:
# Supprimer les colonnes 'Région' et 'Département' du DataFrame
ent_demo_2022 = ent_demo_2022.drop(columns=['Région', 'Département'])

In [31]:
ent_demo_2022 = ent_demo_2022.set_index('Libellé commune ou ARM')

In [32]:
display(ent_demo_2022.head())

3,Créations d'entr. En 2022,Créations d'entr. de l'industrie en 2022,Créations d'entr. de la construction en 2022,"Créations d'entr. de comm, transp, restau héberg. en 2022",Créations d'entr. d’information et communication en 2022,Créations d'entr. d’activités financières et d'assurance en 2022,Créations d'entr. d’activités immobilières en 2022,"Créations d'entr. d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022","Créations d'entr. du secteur adm publ, enseign, santé et action sociale en 2022",Créations d'entr. des autres activités de services en 2022,Créations d'entr. ind. en 2022,Créat. d'entr. ind. de l'industrie en 2022,Créat. d'entr. ind. de la construction en 2022,"Créat. d'entr. ind. de comm, transp, restau héberg. en 2022",Créat. d'entr. ind. d’information et communication en 2022,Créat. d'entr. ind. d’activités financières et d'assurance en 2022,Créat. d'entr. ind. d’activités immobilières en 2022,"Créat. d'entr. ind. d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022","Créat. d'entr. ind. du secteur adm publ, enseign, santé et action sociale en 2022",Créat. d'entr. ind. des autres activités de services en 2022,Créations d'ets en 2022,Créations d'ets de l'industrie en 2022,Créations d'ets de la construction en 2022,"Créations d'ets de comm, transp, restau héberg. en 2022",Créations d'ets d’information et communication en 2022,Créations d'ets d’activités financières et d'assurance en 2022,Créations d'ets d’activités immobilières en 2022,"Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022","Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2022",Créations d'ets des autres activités de services en 2022
Libellé commune ou ARM,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
LIBGEO,ENCTOT22,ENCBE22,ENCFZ22,ENCGI22,ENCJZ22,ENCKZ22,ENCLZ22,ENCMN22,ENCOQ22,ENCRU22,ENCITOT22,ENCIBE22,ENCIFZ22,ENCIGI22,ENCIJZ22,ENCIKZ22,ENCILZ22,ENCIMN22,ENCIOQ22,ENCIRU22,ETCTOT22,ETCBE22,ETCFZ22,ETCGI22,ETCJZ22,ETCKZ22,ETCLZ22,ETCMN22,ETCOQ22,ETCRU22
L'Abergement-Clémenciat,17,3,2,3,0,2,0,6,0,1,9,3,1,1,0,0,0,3,0,1,19,3,2,3,0,2,0,7,1,1
L'Abergement-de-Varey,3,0,0,0,1,0,0,1,0,1,3,0,0,0,1,0,0,1,0,1,4,0,0,0,1,0,0,2,0,1
Ambérieu-en-Bugey,218,9,24,65,11,10,5,49,20,25,172,8,18,51,11,0,3,41,18,22,227,10,24,69,12,11,6,51,21,23
Ambérieux-en-Dombes,32,2,2,6,2,1,4,12,1,2,30,2,1,6,2,1,3,12,1,2,38,6,3,6,3,1,4,12,1,2

In [33]:
# Sauvegarder le DataFrame comme fichier Excel
ent_demo_2022.to_excel('ent_demo_2022.xlsx', index=True)

In [34]:
print(ent_demo_2022.dtypes)

3
Créations d'entr. En 2022                                                                                        object
Créations d'entr. de l'industrie en 2022                                                                         object
Créations d'entr. de la construction en 2022                                                                     object
Créations d'entr. de comm, transp, restau héberg. en 2022                                                        object
Créations d'entr. d’information et communication en 2022                                                         object
Créations d'entr. d’activités financières et d'assurance en 2022                                                 object
Créations d'entr. d’activités immobilières en 2022                                                               object
Créations d'entr. d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022      object
Créations d'entr. du secteur adm publ, enseign, santé et action sociale en 2022                                  object
Créations d'entr. des autres activités de services en 2022                                                       object
Créations d'entr. ind. en 2022                                                                                   object
Créat. d'entr. ind. de l'industrie en 2022                                                                       object
Créat. d'entr. ind. de la construction en 2022                                                                   object
Créat. d'entr. ind. de comm, transp, restau héberg. en 2022                                                      object
Créat. d'entr. ind. d’information et communication en 2022                                                       object
Créat. d'entr. ind. d’activités financières et d'assurance en 2022                                               object
Créat. d'entr. ind. d’activités immobilières en 2022                                                             object
Créat. d'entr. ind. d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022    object
Créat. d'entr. ind. du secteur adm publ, enseign, santé et action sociale en 2022                                object
Créat. d'entr. ind. des autres activités de services en 2022                                                     object
Créations d'ets en 2022                                                                                          object
Créations d'ets de l'industrie en 2022                                                                           object
Créations d'ets de la construction en 2022                                                                       object
Créations d'ets de comm, transp, restau héberg. en 2022                                                          object
Créations d'ets d’information et communication en 2022                                                           object
Créations d'ets d’activités financières et d'assurance en 2022                                                   object
Créations d'ets d’activités immobilières en 2022                                                                 object
Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022        object
Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2022                                    object
Créations d'ets des autres activités de services en 2022                                                         object
dtype: object

In [35]:
for col in ent_demo_2022.columns:
    if "Créations" in col:
        # Convertir en numérique, en forçant les erreurs à NaN
        ent_demo_2022[col] = pd.to_numeric(ent_demo_2022[col], errors='coerce')

In [43]:
print(ent_demo_2022.dtypes)

3
Créations d'entr. En 2022                                                                                        float64
Créations d'entr. de l'industrie en 2022                                                                         float64
Créations d'entr. de la construction en 2022                                                                     float64
Créations d'entr. de comm, transp, restau héberg. en 2022                                                        float64
Créations d'entr. d’information et communication en 2022                                                         float64
Créations d'entr. d’activités financières et d'assurance en 2022                                                 float64
Créations d'entr. d’activités immobilières en 2022                                                               float64
Créations d'entr. d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022      float64
Créations d'entr. du secteur adm publ, enseign, santé et action sociale en 2022                                  float64
Créations d'entr. des autres activités de services en 2022                                                       float64
Créations d'entr. ind. en 2022                                                                                   float64
Créat. d'entr. ind. de l'industrie en 2022                                                                        object
Créat. d'entr. ind. de la construction en 2022                                                                    object
Créat. d'entr. ind. de comm, transp, restau héberg. en 2022                                                       object
Créat. d'entr. ind. d’information et communication en 2022                                                        object
Créat. d'entr. ind. d’activités financières et d'assurance en 2022                                                object
Créat. d'entr. ind. d’activités immobilières en 2022                                                              object
Créat. d'entr. ind. d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022     object
Créat. d'entr. ind. du secteur adm publ, enseign, santé et action sociale en 2022                                 object
Créat. d'entr. ind. des autres activités de services en 2022                                                      object
Créations d'ets en 2022                                                                                          float64
Créations d'ets de l'industrie en 2022                                                                           float64
Créations d'ets de la construction en 2022                                                                       float64
Créations d'ets de comm, transp, restau héberg. en 2022                                                          float64
Créations d'ets d’information et communication en 2022                                                           float64
Créations d'ets d’activités financières et d'assurance en 2022                                                   float64
Créations d'ets d’activités immobilières en 2022                                                                 float64
Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022        float64
Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2022                                    float64
Créations d'ets des autres activités de services en 2022                                                         float64
dtype: object

In [46]:
display(ent_demo_2022)

3,Créations d'entr. En 2022,Créations d'entr. de l'industrie en 2022,Créations d'entr. de la construction en 2022,"Créations d'entr. de comm, transp, restau héberg. en 2022",Créations d'entr. d’information et communication en 2022,Créations d'entr. d’activités financières et d'assurance en 2022,Créations d'entr. d’activités immobilières en 2022,"Créations d'entr. d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022","Créations d'entr. du secteur adm publ, enseign, santé et action sociale en 2022",Créations d'entr. des autres activités de services en 2022,Créations d'entr. ind. en 2022,Créat. d'entr. ind. de l'industrie en 2022,Créat. d'entr. ind. de la construction en 2022,"Créat. d'entr. ind. de comm, transp, restau héberg. en 2022",Créat. d'entr. ind. d’information et communication en 2022,Créat. d'entr. ind. d’activités financières et d'assurance en 2022,Créat. d'entr. ind. d’activités immobilières en 2022,"Créat. d'entr. ind. d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022","Créat. d'entr. ind. du secteur adm publ, enseign, santé et action sociale en 2022",Créat. d'entr. ind. des autres activités de services en 2022,Créations d'ets en 2022,Créations d'ets de l'industrie en 2022,Créations d'ets de la construction en 2022,"Créations d'ets de comm, transp, restau héberg. en 2022",Créations d'ets d’information et communication en 2022,Créations d'ets d’activités financières et d'assurance en 2022,Créations d'ets d’activités immobilières en 2022,"Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022","Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2022",Créations d'ets des autres activités de services en 2022
Libellé commune ou ARM,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
L'Abergement-Clémenciat,17.0,3.0,2.0,3.0,0.0,2.0,0.0,6.0,0.0,1.0,9.0,3,1,1,0,0,0,3,0,1,19.0,3.0,2.0,3.0,0.0,2.0,0.0,7.0,1.0,1.0
L'Abergement-de-Varey,3.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0,0,0,0,1,0,0,1,0,1,4.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,1.0
Ambérieu-en-Bugey,218.0,9.0,24.0,65.0,11.0,10.0,5.0,49.0,20.0,25.0,172.0,8,18,51,11,0,3,41,18,22,227.0,10.0,24.0,69.0,12.0,11.0,6.0,51.0,21.0,23.0
Ambérieux-en-Dombes,32.0,2.0,2.0,6.0,2.0,1.0,4.0,12.0,1.0,2.0,30.0,2,1,6,2,1,3,12,1,2,38.0,6.0,3.0,6.0,3.0,1.0,4.0,12.0,1.0,2.0
Ambléon,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,1,0,0,0,0,0,1,0,0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Paris 16e Arrondissement,6440.0,110.0,240.0,782.0,408.0,637.0,501.0,2731.0,632.0,399.0,3220.0,46,22,372,213,46,28,1687,513,293,6956.0,127.0,269.0,871.0,432.0,725.0,552.0,2849.0,702.0,429.0
Paris 17e Arrondissement,7772.0,144.0,325.0,1543.0,770.0,665.0,333.0,2854.0,674.0,464.0,3975.0,65,47,763,384,47,22,1763,524,360,8374.0,152.0,342.0,1673.0,788.0,823.0,365.0,2966.0,747.0,518.0
Paris 18e Arrondissement,5958.0,97.0,222.0,1462.0,585.0,144.0,92.0,2249.0,560.0,547.0,4426.0,77,65,985,427,16,9,1853,512,482,6309.0,111.0,223.0,1568.0,597.0,154.0,102.0,2307.0,585.0,662.0
Paris 19e Arrondissement,5451.0,81.0,212.0,1497.0,489.0,117.0,58.0,1994.0,541.0,462.0,4129.0,57,93,1074,359,16,14,1622,481,413,5677.0,88.0,220.0,1543.0,513.0,122.0,68.0,2027.0,569.0,527.0
Paris 20e Arrondissement,5030.0,129.0,335.0,1142.0,452.0,72.0,42.0,1820.0,469.0,569.0,3728.0,93,85,759,330,13,10,1493,435,510,5295.0,136.0,339.0,1199.0,464.0,81.0,49.0,1870.0,500.0,657.0

In [49]:
# Afficher la ligne où l'index est 0
ligne_index_0 = ent_demo_2022.loc[0]
display(ligne_index_0)

3,Créations d'entr. En 2022,Créations d'entr. de l'industrie en 2022,Créations d'entr. de la construction en 2022,"Créations d'entr. de comm, transp, restau héberg. en 2022",Créations d'entr. d’information et communication en 2022,Créations d'entr. d’activités financières et d'assurance en 2022,Créations d'entr. d’activités immobilières en 2022,"Créations d'entr. d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022","Créations d'entr. du secteur adm publ, enseign, santé et action sociale en 2022",Créations d'entr. des autres activités de services en 2022,Créations d'entr. ind. en 2022,Créat. d'entr. ind. de l'industrie en 2022,Créat. d'entr. ind. de la construction en 2022,"Créat. d'entr. ind. de comm, transp, restau héberg. en 2022",Créat. d'entr. ind. d’information et communication en 2022,Créat. d'entr. ind. d’activités financières et d'assurance en 2022,Créat. d'entr. ind. d’activités immobilières en 2022,"Créat. d'entr. ind. d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022","Créat. d'entr. ind. du secteur adm publ, enseign, santé et action sociale en 2022",Créat. d'entr. ind. des autres activités de services en 2022,Créations d'ets en 2022,Créations d'ets de l'industrie en 2022,Créations d'ets de la construction en 2022,"Créations d'ets de comm, transp, restau héberg. en 2022",Créations d'ets d’information et communication en 2022,Créations d'ets d’activités financières et d'assurance en 2022,Créations d'ets d’activités immobilières en 2022,"Créations d'ets d’activités spécialisées, scient et techn, et activités de serv adm et de soutien en 2022","Créations d'ets du secteur adm publ, enseign, santé et action sociale en 2022",Créations d'ets des autres activités de services en 2022
Libellé commune ou ARM,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0